<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>帖子详情</title>
    <link rel="stylesheet" href="public/css/showpost.css">
    <script src="public/js/jquery.js"></script>
    <script src="public/js/showpost.js"></script>
</head>
<body>
    <!-- 返回首页 -->
    <a href="/home" class="back">首页</a>


    <!-- 帖子的主模块 -->
    <div class="post">
        <p class="title">万万没想到啊！！！！！</p>
    </div>
</body>
</html>