<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/usercenter.css">
    <script src="public/js/jquery.js"></script>
    <script src="public/js/usercenter.js"></script>
</head>
<body>
    <a href="/home" class="back">首页</a>
    <div class="box">
        <div class="infos">
            <p class="info">
                <span>用户名：</span>
                <span>张傲</span>
            </p>
            <p class="info">
                <span>绑定邮箱：</span>
                <span>20@qq.com</span>
            </p>
        </div>
        <div class="works">
                <div class="work left">
                    <p style="color: rgb(87, 158, 158);">您的帖子</p>
                    <ul>

                    </ul>
                </div>
                <div class="work right">
                    <p style="color: rgb(87, 158, 158);">您的文章</p>
                    <ul>
                  
                    </ul>
                </div>
        </div>
    </div>
</body>
</html>