*{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* 回城按钮 */
.back{
    position: fixed;
    top: 100px;
    left: 0px;
    width: 60px;
    height: 40px;
    color:white ;
    background-color: rgb(49,176,213);
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* 主体盒子 */
#box{
    width: 1200px;
    min-height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    padding: 15px;
}

.title{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: "华文行楷";
    width: auto;
    padding: 10px;
    border-bottom: 1px solid orange;
}

.content{
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid orange;
}


/* 评论区 */
.comment p{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.comment ul{
    width: 100%;
    padding: 15px;
}
.comment li{
    width: 100%;
    min-height: 30px;
    border: 1px solid burlywood;
    line-height: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;

}
.cleft{
    /* float: left; */
    font-family: "宋体";
}
.cright{
    float: right;
    font-weight: 600;
    color: burlywood;
    cursor: pointer;
}
/* 出现评论框的按钮 */
.incom{
    display: inline-block;
    width: 94px;
    height:40px;
    background: red;
    color:white;
    font-weight:600;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 5px;
}


/* 写评论那个模块 */
.wcom{
    position: fixed;
    top:150px;
    left:calc(50% - 150px);
    height: 222px;
    width: 300px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    display: none;
}
/* 写评论的打字框 */
.wcom .com{
    width:100%;
    height:150px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    padding: 5px;
    overflow: auto;
    outline: lightblue;
}
/* 写评论的提交按钮 */
.input{
    height:40px;
    width: 80px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    background-color: red;
    color: white;
    font-weight:600;
    border-radius: 5px;
    margin:0 auto;
    margin-top:4px;
    
}


/* 提示信息的css */
.ding{
	width: 200px;
	min-height: 100px;
	position: fixed;
	margin: 0 auto;
	margin-top: 100px;
	border-radius: 5px;
	border: 1px solid lightblue;
	background-color: white;
	color:rgb(160,180,189);
	line-height: 100px;
	font-weight: 600;
	display: none;
	text-align: center;
    z-index: 99;
}

