*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    min-width: 1000px;
}
.tb{
    margin: 0 auto;
    width: 620px;
}

/* 提示信息的css */
.ding{
	width: 200px;
	min-height: 100px;
	position: fixed;
	margin: 0 auto;
	margin-top: 100px;
	border-radius: 5px;
	border: 1px solid lightblue;
	background-color: white;
	color:rgb(160,180,189);
	line-height: 100px;
	font-weight: 600;
	display: none;
	text-align: center;
    z-index: 99;
}

/* 这里是输入标题的css */
.title{
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 13px 14px;
    width: 620px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Microsoft soft";
   margin: 0 auto;
}

.title:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

/* 提交按钮的样式 */
.input{
    position: absolute;
    top: 0;
    right:0;
    height:46px;
    width:100px;
    background: rgb(255,77,77);
    color:white;
    text-align: center;
    line-height: 46px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}
.gohome{
    position: absolute;
    top: 0;
    left:0;
    height:46px;
    width:100px;
    background: rgb(255,77,77);
    color:white;
    text-align: center;
    line-height: 46px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}